* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu' , sans-serif;
    
}

.hero-image {
    background-image: url(/images/Фон\ 1.png);
    width: 100%;
    background-size: cover;

    position: absolute;
    height: 100%;
    z-index: -10;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 40%);
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-left: 79px;
    padding-right: 79px;
    margin-bottom: 52px;
}

.header-logo {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
   
    padding-top: 18px;
    padding-bottom: 18px;

    text-transform: uppercase;
}

.header-logo-link {
    color: #fff;
    text-decoration: none;
}

.header-logo-link:hover {
    color: #3CB878;
    transition: 0.5s;
}

.header-icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 23px;
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    padding-right: 20px;
}

.header-icons-svg:hover  path {
    fill: #3CB878;
    transition: 0.5s;
}

/** Потна конструкція зверху🥵 **/

.header-welcome-desc {
    color: #fff;
}

.header-icons-link {
    color: #fff;
    text-decoration: none;
}

.header-icons-link:hover {
    color: #3CB878;
    transition: 0.5s;
}

.header-welcome-div {
    padding-left: 27px;
}

.main-section {
    background-color: #fff;
    padding: 30px 60px;
    width: max-content;
    margin: 0 auto;
    position: relative;
}


.main-verification {
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;

}

.main-special-block {
    display: block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 32px;
    left: 0;
}

.section-sign {
    
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
   

}

.section-login {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 5px;
}

.section-login-link {
    color: rgba(60, 184, 120, 1);
    text-decoration: none;
}

.section-login-link:hover {
    color: rgba(1, 129, 63, 1);
    text-decoration: underline;

    transition: 0.5s;
}

.main-registration-ways {
    display: flex;
    padding-bottom: 31px;
    justify-content: space-between;
}

.main-registration-facebook-button {
    color: #fff;

    display: flex;
    align-items: center;
    padding: 10px 22px 10px 9px ;

    box-sizing: content-box;
    border: none;
    border-radius: 3px;
    background-color: #305DB8;
}

.main-registration-facebook-button:active {
    background-color: rgba(2, 34, 99, 1);
    transition: 0.2s;
}

.main-facebook-svg {
    border-right: 1px solid rgba(0, 0, 0, 0.145);
    width: 30px;
    padding-right: 10px;
    margin-right: 5px;
}

/** Прийшлось дати w30px через те, що в body стоїть box-sizing:border-box. І коли збільшуєш паддінг від svg до бордера, то якогось чортика svg'шка стає меншою. Вот такіє пірагі.

Лан, краще просто зроблю content-box.
**/

.main-registration-google-button {
    color: #fff;

    display: flex;
    align-items: center;
    padding: 13px 22px 12px 5px ;

    box-sizing: content-box;
    border: none;
    border-radius: 3px;
    background-color: #DF4A32;
}

.main-registration-google-button:active {
    background-color: rgba(171, 31, 9, 1);
    transition: 0.2s;
}

.main-google-svg {
    border-right: 1px solid rgba(0, 0, 0, 0.145);
    width: 50px;
    padding-right: 10px;
    margin-right: 5px;
}

.main-other-variants {
    color: rgba(132, 132, 132, 1);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    display: inline-block;
    margin: 0px 47%;
    padding: 0px 1px;
    background-color: white;

}

.border-or {
    
    border-top: 1px solid rgba(242, 242, 242, 1);
    margin-top: -6px ;
}

.main-form {
    display: flex;
    flex-direction: column;
    gap: 15px   ;
    margin-top: 20px;
    
}

.main-form-lable {
    display: block;
}

.main-form-lable-field {
    width: 100%;
    padding: 15px 19px;
    border-color :#F2F2F2;
    border-top: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-radius: 3px;
    border-width: 1px;
    outline: none;
    
}

.main-form-lable-field:focus {
    box-shadow: 0px 3px 8px 0px #00000036;
}

.main-form-lable-checkbox {

}

/* .main-form-lable-checkbox::after {
    content: 'Agree with our Terms & Conditions';
    display: flex;
    width: max-content;
    padding-left: 28px;
 
    Не вийшло, бо треба туди ше силку пихати, а як впихнути силку в псевдоклас😔😔😔
} */

.main-form-terms {
    color: #3CB878;
    text-decoration: none;
}

.main-form-terms:focus {
    text-decoration: underline;
    color: #01813F;
    transition: 0.5s;
}

.main-form-footer-button {
    padding: 16px 0;
    border: none;
    border-radius: 5px;
    background-color: #3CB878CC;
    color: white;
}

.main-form-footer-button:hover {
    background-color: #01813F;
    transition: 0.5s;
}

.main-form-footer-button:active {
    background-color: #3CB878CC;
    transition: 0.1s;
}